* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 6px solid #000;
  display: flex;
  /* display: inline-flex; */

  /* 
  flex-direction establishes the main-axis, which in turn decides how the flex-items are placed inside the flex-container
  //////////////////////////
  flex-direction takes in 4 values one at a time of course!
  //////////////////////////
    flex-direction: row, row-reverse, column, column-reverse
    flex-direction: row;
    flex-wrap: wrap-reverse;
    height: 370px;
    flex-direction: column;
    flex-wrap: wrap-reverse;
  */

  /* There [ flex-wrap: <flex-direction> <flex-wrap>; ] */

  /* height: 300px; */
  /* flex-flow: row wrap; */

  /* justify-content defines the alignment of the items along the main axis */
  /* justify-content: space-around; */
  /* justify-content: center; */
  /* align-items places  the flex-items along the cross-axis; By default the items stretch along the cross-axis to whatever the height is given to the container !!!*/

  /* align-items: baseline; 
  */
  align-items: flex-end;
  align-items: flex-start;
  align-items: center;
  /* baseline property keeps the text on a particular baseline */
  align-items: baseline;

  flex-direction: row;
  flex-wrap: wrap;
  min-height: 200px;
}

.flex-item {
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
  flex-grow: 1;
  flex-shrink: 1;
}

.flex-item-1 {
  background: #b87878;
  padding-bottom: 2rem;
}
.flex-item-2 {
  background: #de1200;
  padding: 4rem;
}
.flex-item-3 {
  background: #de12ff;
  font-size: 3rem;
}
.flex-item-4 {
  background: #1e1287;
  /* padding: 2rem 3rem; */
  font-size: 3rem;
}
.flex-item-5 {
  background: #a78a8a;
}
.flex-item-6 {
  background: #f66f6f;
}
.flex-item-7 {
  background: #344333;
}
.flex-item-8 {
  background: #43ffff;
}
.flex-item-9 {
  background: #ee74118c;
}

/* container-2 */
/* By default flex-grow = 0 and flex-shrink=1 i-e why once we shrink the screen the items automatically shrinks before it finally starts to break off !
  flex-basis: for the width of the flex-item.
  /* flex is short hand for flex-grow, flex-shrink and flex-basis */
/* flex: flex-grow flex-shrink flex-basis; 
flex-self: along cross axis, default value is auto, the same as that of the parent's align-items property*/
.container-2 {
  display: flex;
  border: 6px solid brown;
  margin-top: 2rem;
  flex-wrap: wrap;
  /* To demonstrate align-self property on flex-item */
  height: 350px;
  align-items: flex-end;
}
.flex-item-item {
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
}
.flex-item-item-1 {
  background: #b87878;
  flex-basis: 300px;
  align-self: flex-start;
}
.flex-item-item-2 {
  background: #de1200;
  align-self: center;
}
.flex-item-item-3 {
  background: #de12ff;
  align-self: center;
}
.flex-item-item-4 {
  background: #1e1287;
  align-self: stretch;
}
.flex-item-item-5 {
  background: #a78a8a;
}
.flex-item-item-6 {
  background: #f66f6f;
}
.flex-item-item-7 {
  background: #344333;
}
.flex-item-item-8 {
  background: #43ffff;
}
.flex-item-item-9 {
  background: #ee74118c;
}
