* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 6px solid #000;
  display: flex;
  /* display: inline-flex; */

  /* 
  flex-direction establishes the main-axis, which in turn decides how the flex-items are placed inside the flex-container
  //////////////////////////
  flex-direction takes in 4 values one at a time of course!
  //////////////////////////
    flex-direction: row, row-reverse, column, column-reverse
    flex-direction: row;
    flex-wrap: wrap-reverse;
    height: 370px;
    flex-direction: column;
    flex-wrap: wrap-reverse;
  */

  /* There [ flex-wrap: <flex-direction> <flex-wrap>; ] */

  /* height: 300px; */
  /* flex-flow: row wrap; */

  /* justify-content defines the alignment of the items along the main axis */
  /* justify-content: space-around; */
  /* justify-content: center; */
  /* align-items places  the flex-items along the cross-axis; By default the items stretch along the cross-axis to whatever the height is given to the container !!!*/

  /* align-items: baseline; 
  */
  align-items: flex-end;
  align-items: flex-start;
  align-items: center;
  /* baseline property keeps the text on a particular baseline */
  align-items: baseline;

  flex-direction: row;
  height: 800px;
}

.flex-item {
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
}

.flex-item-1 {
  background: #b87878;
  padding-bottom: 2rem;
}
.flex-item-2 {
  background: #de1200;
  padding: 4rem;
}
.flex-item-3 {
  background: #de12ff;
  font-size: 3rem;
}
.flex-item-4 {
  background: #1e1287;
  padding: 2rem 3rem;
  font-size: 5rem;
}
.flex-item-5 {
  background: #a78a8a;
}
.flex-item-6 {
  background: #f66f6f;
}
.flex-item-7 {
  background: #344333;
}
.flex-item-8 {
  background: #43ffff;
}
.flex-item-9 {
  background: #ee74118c;
}
